[Desktop Entry]
Name=Native Popcorn
Comment=Watch Movies and TV Shows instantly
Exec=native-popcorn %U
Icon=org.popcorntime.NativePopcorn
Terminal=false
Type=Application
Categories=AudioVideo;Video;Player;TV;
Keywords=movies;series;tv;anime;torrent;streaming;
StartupNotify=true
